openapi: 3.0.0
info:
  title: OpenAPI Specification Agents - Conversation Job Execution API
  description: AI API to chat with Celonis Agents and run their tools.
  x-audience: EX
  version: v1.2.0
servers:
- url: https://30f873b4-88d4-49ba-b327-6f651d7b99e6.remockly.com
security:
- BearerAuth: []
- ApiKeyAuth: []
tags:
- name: Job Execution
  description: The Job Execution API is used to trigger, stop, and track job executions.
paths:
  /api/jobs/{jobId}/executions:
    get:
      tags:
      - Job Execution
      summary: Get all executions
      operationId: getExecutions
      parameters:
      - name: jobId
        in: path
        required: true
        schema:
          type: string
      - name: pageIndex
        in: query
        required: false
        schema:
          type: integer
          format: int32
          default: 0
          minimum: 0
      - name: limit
        in: query
        required: false
        schema:
          type: integer
          format: int32
          default: 1
          minimum: 1
      - name: startedOrder
        in: query
        required: false
        schema:
          type: string
          default: DESC
      - name: executionSources
        in: query
        required: false
        schema:
          type: array
          default:
          - DATA_MODEL_RELOAD
          - KNOWLEDGE_MODEL
          - API
          - SKILL_UPDATE
          items:
            type: string
            enum:
            - API
            - KNOWLEDGE_MODEL
            - DATA_MODEL_RELOAD
            - SKILL_UPDATE
      responses:
        '200':
          description: OK
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/PageJobExecutionTransport'
        '204':
          description: No Content
        '400':
          description: Bad Request
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/FrontendHandledBackendError'
        '403':
          description: Forbidden
        '500':
          description: Internal Server Error
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/ExceptionReference'
    post:
      tags:
      - Job Execution
      summary: Trigger an execution
      operationId: execute
      parameters:
      - name: jobId
        in: path
        required: true
        schema:
          type: string
      requestBody:
        description: input
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/JsonNode'
        required: true
      responses:
        '200':
          description: OK
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/JobExecution'
        '204':
          description: No Content
        '400':
          description: Bad Request
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/FrontendHandledBackendError'
        '403':
          description: Forbidden
        '500':
          description: Internal Server Error
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/ExceptionReference'
  /api/jobs/{jobId}/application-key:
    post:
      tags:
      - Job Execution
      summary: Update job application key
      operationId: updateApplicationKey
      parameters:
      - name: jobId
        in: path
        required: true
        schema:
          type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ApplicationKeyTransport'
        required: true
      responses:
        '204':
          description: No Content
        '400':
          description: Bad Request
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/FrontendHandledBackendError'
        '403':
          description: Forbidden
        '500':
          description: Internal Server Error
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/ExceptionReference'
  /api/jobs/executions/{id}/stop:
    post:
      tags:
      - Job Execution
      summary: Stop a running execution
      operationId: stop_2
      parameters:
      - name: id
        in: path
        required: true
        schema:
          type: string
      responses:
        '204':
          description: No Content
        '400':
          description: Bad Request
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/FrontendHandledBackendError'
        '403':
          description: Forbidden
        '500':
          description: Internal Server Error
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/ExceptionReference'
  /api/jobs/executions/{id}/logs:
    get:
      tags:
      - Job Execution
      summary: Get job execution logs
      operationId: getLogs
      parameters:
      - name: id
        in: path
        required: true
        schema:
          type: string
      - name: logLevels
        in: query
        required: false
        schema:
          type: array
          default:
          - INFO
          - DEBUG
          - WARNING
          - ERROR
          items:
            type: string
            enum:
            - DEBUG
            - INFO
            - WARNING
            - ERROR
      responses:
        '200':
          description: OK
          content:
            '*/*':
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/JobExecutionLogTransport'
        '204':
          description: No Content
        '400':
          description: Bad Request
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/FrontendHandledBackendError'
        '403':
          description: Forbidden
        '500':
          description: Internal Server Error
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/ExceptionReference'
  /api/jobs/executions/{id}:
    get:
      tags:
      - Job Execution
      summary: Get an execution
      operationId: getExecution
      parameters:
      - name: id
        in: path
        required: true
        schema:
          type: string
      responses:
        '200':
          description: OK
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/JobExecution'
        '204':
          description: No Content
        '400':
          description: Bad Request
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/FrontendHandledBackendError'
        '403':
          description: Forbidden
        '500':
          description: Internal Server Error
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/ExceptionReference'
components:
  schemas:
    FrontendHandledBackendError:
      type: object
      properties:
        frontendErrorKey:
          type: string
        errorInformation: {}
    ApplicationKeyTransport:
      type: object
      properties:
        id:
          type: string
        name:
          type: string
        key:
          type: string
        createdAt:
          type: string
          format: date-time
        lastUsedAt:
          type: string
          format: date-time
        originalId:
          type: string
        teamRole:
          type: integer
          format: int32
        internal:
          type: boolean
    ExceptionReference:
      type: object
      properties:
        reference:
          type: string
        message:
          type: string
        shortMessage:
          type: string
    JobExecution:
      type: object
      properties:
        id:
          type: string
        tenantId:
          type: string
          writeOnly: true
        jobId:
          type: string
        image:
          type: string
        input:
          type: string
        status:
          type: string
          enum:
          - CREATED
          - STARTED
          - RUNNING
          - COMPLETED
          - FAILED
          - CANCELED
        started:
          type: string
          format: date-time
        completed:
          type: string
          format: date-time
        jobExecutionSource:
          type: string
          enum:
          - API
          - KNOWLEDGE_MODEL
          - DATA_MODEL_RELOAD
          - SKILL_UPDATE
        jobExecutionSourceId:
          type: string
        timeout:
          type: integer
          format: int64
        errorMessage:
          type: string
        logsCleanup:
          type: boolean
        optionalTenantId:
          type: string
    PageJobExecutionTransport:
      type: object
      properties:
        content:
          type: array
          items:
            $ref: '#/components/schemas/JobExecutionTransport'
        pageSize:
          type: integer
          format: int32
        pageNumber:
          type: integer
          format: int32
        totalCount:
          type: integer
          format: int64
        first:
          type: boolean
        last:
          type: boolean
        empty:
          type: boolean
        totalPages:
          type: integer
          format: int32
    JobExecutionTransport:
      type: object
      properties:
        id:
          type: string
        jobId:
          type: string
        params:
          $ref: '#/components/schemas/JsonNode'
        status:
          type: string
          enum:
          - CREATED
          - STARTED
          - RUNNING
          - COMPLETED
          - FAILED
          - CANCELED
        started:
          type: string
          format: date-time
        completed:
          type: string
          format: date-time
        jobExecutionSource:
          type: string
        errorMessage:
          type: string
    JsonNode: {}
    JobExecutionLogTransport:
      type: object
      properties:
        message:
          type: string
        timestamp:
          type: string
          format: date-time
        logLevel:
          type: string
  securitySchemes:
    BearerAuth:
      type: http
      scheme: bearer
      bearerFormat: JWT
    ApiKeyAuth:
      type: apiKey
      in: header
      name: AppKey
